{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	{% if emails is defined and emails %}
		<h1>Utilisateurs avec le rôle "cinema"</h1>
		<ul>
			{% for email in emails %}
				<li>{{ email }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Aucun utilisateur avec le rôle "cinema" trouvé.</p>
	{% endif %}

{% endblock %}
