{% extends 'base.html.twig' %}

{% block title %}
Réinitialisez votre mot de passe
{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
        <div style="text-align: center;">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert" style="background-color: #fbae00; color: #ffffff;">{{ flash_error }}</div>
            {% endfor %}
            <h1 style="color: #fbae00;">Réinitialisez votre mot de passe</h1>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email, {'attr': {'style': 'background-color: #fbae00; color: #ffffff;'}}) }}
                <div>
                    <small style="color: #fbae00;">
                       Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                    </small>
                </div>

                <button class="btn btn-primary" style="background-color: #fbae00;">Envoyer un e-mail de réinitialisation du mot de passe</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
