{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur{% endblock %}

{% block body %}
    <h1>Profil de l'utilisateur</h1>
    <p><strong>E-mail :</strong> {{ user.email }}</p>


 <ul>
        {% for film in user.movie %} {# Accédez aux films publiés par l'utilisateur via la relation user.films #}
            <li>{{ film.movie }}</li>
            <!-- Afficher d'autres détails du film si nécessaire -->
        {% endfor %}
    </ul>


{% endblock %}
